
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.highlight {
    background: linear-gradient(to right, #6a11CB, #2575FC);
}

.result {
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    padding: 20px;
}
.search-section, .result-section {
    margin-bottom: 20px;
}

.result .highlight {
    font-weight: bold;
}