form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input[type="file"] {
  margin-bottom: 10px;
  border: 3px solid transparent;
  cursor: pointer;
  font-size: 1.2em; /* フォントサイズを大きくする */
  transition: all 0.5s; /* すべての変更にトランジションを適用する */
}

input[type="file"]:hover {
  transform: scale(1.1); /* ホバー時にボタンを少し大きくする */
}

.submit-buttons {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2em; /* フォントサイズを大きくする */
  transition: all 0.5s; /* すべての変更にトランジションを適用する */
  position: relative; /* ボタンの位置を相対的に設定する */
  overflow: hidden; /* ボタンの外側に出る要素を隠す */
  margin-right: 10px; /* ボタン間の余白を設定する */
}

input[type="submit"]:hover {
  background: linear-gradient(to right, #6a11CB, #2575FC);
  color: white;
  transform: scale(1.1); /* ホバー時にボタンを少し大きくする */
}

button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2em;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  width: 150px; /* Add this line to set the width of the button */
  margin-bottom: 10px; /* Add this line to create some space between buttons */
}

button:hover {
  background: linear-gradient(to right, #6a11CB, #2575FC);
  color: white;
  transform: scale(1.1); /* ホバー時にボタンを少し大きくする */
}
h1 {
  text-align: center;
}

#file {
  display: flex;
  justify-content: center;
  color: red;
}

#message {
  text-align: center;
  color: red;
}

#text-list {
  display: flex;
  flex-direction: column; /* 縦並びにする */
  align-items: center; /* 子要素を中央揃えにする */
}

#text-list li {
  list-style: none;
  padding: 5px;
}

.spacer1 {
  margin-top: 50px;
}

.spacer2 {
  margin-top: 100px;
}

#submit-result {
  text-align: center;
  color: red;
  font-size: 1.5em;
}

#submit-sucsess {
  text-align: center;
  color: #009999;
  font-size: 1.5em;
}


#deleted-sucsess {
  text-align: center;
  color: yellow;
  font-size: 1.5em;
}

#filetable-Q {
  margin: 0 auto;
  text-align: center;
  width: 100%; /* Set the table width to 100% */
  margin-top: 40px; /* Add margin to create space between tables */
}

#filetable-Q th,
#filetable-Q td {
  padding: 10px; /* Increase the padding for table cells */
  
}

#filetable-Q th {
  background-color: #222222; /* Add a green background color to table headers */
  font-size: 1.2em; /* Increase the font size */
  color: white; /* Set the font color to blue */
  text-transform: uppercase; /* Transform the text to uppercase */
}

#filetable-Q td {
  text-align: center; /* Center align the content in table cells */
  font-size: 1.2em; /* Increase the font size */
  color: white; /* Set the font color to green */
  background-color: #222222; /* Add a black background color to table cells */
  padding: 15px; /* Increase the padding for table cells */
}


#filetable-K {
  margin: 0 auto;
  text-align: center;
  width: 100%; /* Set the table width to 100% */
  margin-top: 20px; /* Add margin to create space between tables */
}

#filetable-K th,
#filetable-K td {
  padding: 10px; /* Increase the padding for table cells */
}

#filetable-K th {
  background-color: #222222; /* Add a green background color to table headers */
  font-size: 1.2em; /* Increase the font size */
  color: white; /* Set the font color to blue */
  text-transform: uppercase; /* Transform the text to uppercase */
}

#filetable-K td {
  text-align: center; /* Center align the content in table cells */
  font-size: 1.2em; /* Increase the font size */
  color: white; /* Set the font color to green */
  background-color: #222222; /* Add a black background color to table cells */
  padding: 15px; /* Increase the padding for table cells */
}
