<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Web App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock%}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('file') }}">Filemanage</a></li>
                <li><a href="{{ url_for('exploratory') }}">Exploratory Search Tab</a></li>
                <li><a href="{{ url_for('comparison') }}">Comparison Tab</a></li>
                <li><a href="{{ url_for('K_and_K') }}">K and K Tab</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Web App</p>
    </footer>
</body>
</html>