{% extends "base.html" %}

{% block title %}Home - My Web App{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/comparison.css') }}">
<script src="{{ url_for('static', filename='javascript/comparison.js') }}"></script>
{% endblock %}
{% block content %}
<h1>Comparison Tab</h1>
<h3>You can compare your known author text(Q file) with unknown author text(K files) here by word frequency</h3>
<p id = "info">Select one Q file and K files you want to compare by.</p>
<p id = "info">Then, click GO!! button. If you  click GO!! button again, </p>
<p id = "info"> After the result is displayed, system will do additional comparison.</p> 
<p id = "info"> e.g.  20 the most frequent words in the first result, 40 in the second result and so on</p>

<div>
    <form id="form" onsubmit="return comparison(event);">
        <table id="Q_files_table">
            <th>Q files: </th>
            {% if Q_file %}
                {% for Q in Q_file %}
                    <tr>
                        <td><input type="checkbox" name="Q" value="{{ Q[0] }}">{{ Q[0] }} ({{ Q[1] }})</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No Q files found.</td>
                </tr>
            {% endif %}
        </table>
        <table id="K_files_table">
            <th>K files: </th>
            {% if K_files %}
                {% for K in K_files %}
                    <tr>
                        <td><input type="checkbox" name="K" value="{{ K[0] }}">{{ K[0] }} ({{ K[1] }})</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No K files found.</td>
                </tr>
            {% endif %}
        </table>
        <button type="submit">GO!!</button>
    </form>
</div>
<div id="result"></div>

<div class = "spacer">  </div>
{% endblock %}
