{% extends "base.html" %}

{% block title %}Home - My Web App{% endblock %}
{% block head %}


<script src="{{ url_for('static', filename='javascript/comparison.js') }}"></script>
<link rel = "stylesheet"  href = "{{ url_for('static', filename='css/comparison.css') }}">

{% endblock%}
{% block content %}
<h1>Welcome to the Home Page</h1>
<p>This is the home page of our web application.</p>




<div>


    <form id="form">
    
         <table id = "checkbox">
            <th>Q files: </th>
             {% if Q_file %}
               {% for Q in Q_file %}
                <tr>
                    <td><input type="checkbox" name="Q" value="{{ Q[0] }}">{{ Q[0] }} ({{ Q[1] }})</td>
                </tr>
                 {% endfor %}
            {% else %}
                <tr>
                    <td>No Q files found.</td>
                </tr>
            {% endif %}
        </table>
        <table id = "checkbox">
            <th>K files: </th>
            {% if K_files %}
                {% for K in K_files %}
                <tr>
                    <td><input type="checkbox" name="K" value="{{ K[0] }}">{{ K[0] }} ({{ K[1] }})</td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td>No K files found.</td>
                </tr>
            {% endif %}
        </table>
        <button id="submit" onclick="comparison()">GO!!</button>
    </form>
    
</div>
<div id="result"></div>




{% endblock %}