{% extends "base.html" %}

{% block title %}Home - My Web App{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">

{% endblock%}

{% block content %}
<h1>Welcome to the Home Page</h1>
<p>This is the home page of our web application.</p>

<form action="{{url_for('update', filename=target)}}" method="post">
    <textarea id="editor" name="content" rows="20" cols="100">{{ content|safe }}</textarea>
    <br>
 
    <button type="submit">Save!</button>
    <input type="hidden" name="filetype" value="{{filetype}}">
</form>
<div class="spacer"></div>

{% endblock %}
