{% extends "base.html" %}

{% block title %}Home - My Web App{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exploratory.css') }}">
<script src="{{ url_for('static', filename='javascript/exploratory.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="search-section">
        <h2>Exploratory Search</h2>
        <form id="form">
            
            {% if Q_file %}
            {% for Q in Q_file %}
            <li><input type="checkbox" class="file-checkbox" name="Q" value="{{ Q[0] }}">{{ Q[0] }} ({{ Q[1] }})</li>
            {% endfor %}
            {% else %}
            <p>No Q files found.</p>
            {% endif %}
            {% if K_files %}
            {% for K in K_files %}
            <li><input type="checkbox" class="file-checkbox" name="K" value="{{ K[0] }}">{{ K[0] }} ({{ K[1] }})</li>
            {% endfor %}
            {% else %}
            <p>No K files found.</p>
            {% endif %}

            <label for="searchType">Enter type of search:</label>
            <select id="searchType" name="searchType">
                <option value="wordToken">Word Token</option>
                <option value="lemma">Lemma</option>
                <option value="pos">POS</option>
                <option value="ngram">n-gram</option>
                <option value="regex">Regex</option>
            </select><br><br>
            <label for="searchTerm">Enter search term:</label>
            <input type="text" id="searchTerm" name="searchTerm"><br><br>
            <button type="button" onclick="performSearch()">Search</button>
        </form>
    </div>

    <div class="result-section">
        <h2>Search Results</h2>
        <div id="results"></div>
    </div>
</div>
{% endblock %}
