{% extends "base.html" %}

{% block title %}Home - My Web App{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/exploratory.css') }}">
<script src="{{ url_for('static', filename='javascript/exploratory.js') }}"></script>
{% endblock %}
{% block content %}
<h1>Exploratory search Tab</h1>
<h2>You can search your text files by several kind of factors</h2>
<h2>Such as word token, lemma, POS, n-gram, and regex</h2>


<p id = "info">Select Q files and K files you want to search by.</p>
<p id = "info">Then, select type of search and enter search term.</p>
<p id = "info">After that, click Search button</p>
<p id = "info">You can select multiple Q files and K files</p>
<div class="container">
    <div class="search-section">
        
        <form id="form">
            <table id = checkbox>   
                <th>Q files: </th> 
                {% if Q_file %}
                    {% for Q in Q_file %}
                        <tr>
                            <td><input type="checkbox" name="Q" value="{{ Q[0] }}">{{ Q[0] }} ({{ Q[1] }})</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>No Q files found.</td>
                    </tr>
                {% endif %}
            </table>
            <table id = checkbox>
                <th>K files: </th>
                {% if K_files %}
                    {% for K in K_files %}
                        <tr>
                            <td><input type="checkbox" name="K" value="{{ K[0] }}">{{ K[0] }} ({{ K[1] }})</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>No K files found.</td>
                    </tr>
                {% endif %}
            </table>
            <br><br>
            <label for="searchType">Enter type of search:</label>
            <select id="searchType" name="searchType">
                <option value="wordToken">Word Token</option>
                <option value="lemma">Lemma</option>
                <option value="pos">POS</option>
                <option value="ngram">n-gram</option>
                <option value="regex">Regex</option>
            </select>
            <br><br>
            <label for="searchTerm">Enter search term:</label>
            <input type="text" id="searchTerm" name="searchTerm"><br><br>
            <button type="button" onclick="performSearch()">Search</button>
            
        
        </form>
    </div>

    <div class="result-section">

        <div id="results"></div>
    </div>
</div>

<!-- 空の要素を追加してスクロール範囲を増やす -->
<div class="spacer"></div>
{% endblock %}