{% extends "base.html" %}

{% block title %}Home - My Web App{% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}">
{% endblock%}
{% block content %}
<h1>Welcome to the Home Page</h1>
<p>This is the home page of our web application.</p>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="files" multiple>
    <input type=submit name="kind" value="upload as Q">
    <input type=submit name="kind" value="upload as K">
</form>


{% if message %}
<p id="submit-result">{{message}}</p>
<audio autoplay>
    <source src="{{ url_for('static', filename='audio/upload_failed.mp3') }}" type="audio/mpeg">
</audio>
{% endif %}

{% if sucsess %}
<audio autoplay>
    <source src="{{ url_for('static', filename='audio/upload_sucsess.mp3') }}" type="audio/mpeg">
</audio>
<p id="submit-sucsess">{{sucsess}}</p>
{% endif %}

{% if  deleted_sucsess %}
<audio autoplay>
    <source src="{{ url_for('static', filename='audio/deleted.mp3') }}" type="audio/mpeg">
</audio>
<p id="deleted-sucsess">{{deleted_sucsess}}</p>
{% endif %}


<div>
    {% if Q_file%}
        {% for Q in Q_file %}
        
            <div class="file-item">
                <li>{{ Q[0] }} ({{ Q[1] }})</li>
                <form action="/file/manage" method="post">
                    <input type="hidden" name="filename" value="{{Q[0]}}">
                    <input type="hidden" name="filetype" value="Q">
                    <button type="submit" name="action" value="delete">Delete</button>
                    <button type="submit" name="action" value="update">Update</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>No Q files found.</p>
    {% endif %}
    {% if K_files %}
        {% for K in K_files %}
        <div class="file-item">
            <li>{{ K[0] }} ({{ K[1] }})</li>
                <form action="/file/manage" method="post">
                    <input type="hidden" name="filename" value="{{K[0]}}">
                    <input type="hidden" name="filetype" value="K">
                    <button type="submit" name="action" value="delete">Delete</button>
                    <button type="submit" name="action" value="update">Update</button>
                </form>
        </div>
        {% else %}
            <p>No K files found.</p>
        {% endfor %}
    {% else %}
        <p>No K files found.</p>
    {% endif %}
</div>
    

<!-- 空の要素を追加してスクロール範囲を増やす -->
<div class="spacer"></div>


{% endblock %}