{% extends "base.html" %}

{% block title %}Home - My Web App{% endblock %}
{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/file.css') }}">
{% endblock%}
{% block content %}
<h1>Welcome to the Home Page</h1>
<p>This is the home page of our web application.</p>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="files" multiple>
    <input type=submit name="kind" value="upload as Q">
    <input type=submit name="kind" value="upload as K">
</form>

</br>

<div>
    {% if Q_file%}
        {% for Q in Q_file %}
        <div class="file-item">
            <li>{{ Q[0] }} ({{ Q[1] }})</li>
            <button>Delete</button>
            <button>Update</button>
        </div>
        {% endfor %}
    {% else %}
        <p>No Q files found.</p>
    {% endif %}
    {% if K_files %}
        {% for K in K_files %}
        <div class="file-item">
            <li>{{ K[0] }} ({{ K[1] }})</li>
            <button>Delete</button>
            <button>Update</button>
        </div>
        {% else %}
            <p>No K files found.</p>
        {% endfor %}
    {% else %}
        <p>No K files found.</p>
    {% endif %}
</div>
    

<!-- 空の要素を追加してスクロール範囲を増やす -->
<div class="spacer"></div>


{%if message%}
<p>{{message}}</p>
{%endif%}
{% endblock %}