<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file_manege</title>

    <script>
        function to_update(){
            window.location.href='/update'
        }
    </script>
</head>
<body>
    <h1>management of {{filename}}!</h1>
    <form method="post" action="/delete" enctype="multipart/form-data">
        <input type="hidden" value="{{filename}}" name="filename">
        <button type="submit">delete</button>
    </form>
    <button onclick="to_update()">update</button>



</body>
</html>