<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function to_search(){
            window.location.href='/search';
        }
        function to_upload(){
            window.location.href='/up';
        }
        function to_select(){
            window.location.href='/select';
        }
    </script>
</head>
<body>
    <h1>This application can analysis authorship</h1>
    <button onclick="to_upload()">upload files</button>
    <button onclick="to_search()">search file</button>
    <button onclick="to_select()">start analysis</button>
    <h2>search file include delete and update</h2>
</body>
</html>