{% extends "base.html" %}

{% block title %}K and K Tab - My Web App{% endblock %}

{% block content %}
<h1>This page is K and K Tab</h1>
<h2>Please select K files</h2>

<div>
 <form method="post" action="/K_and_K/result">


    <table>
        {% if K_files %}
            {% for K in K_files %}
            <tr>
                <td><input type="checkbox" name="K" value="{{K[0]}}">{{ K[0] }} ({{ K[1] }})</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td><p>No K files found.</p></td>
            </tr>
        {% endif %} 
    </table>
    <button id = "GO" type="submit">Execute</button>
</form>

</div>
{% endblock %}